# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Java
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
.vscode/
*.iml

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Local secrets
application-local.yml
**/application-local.yml
.env
.env.local

node_modules/
./admin-web/node_modules
